body {
  	background: white;
	background-repeat: no-repeat;
    background-attachment: fixed;
	padding: 8em 2em;
}
@font-face {
font-family: 'Lato';
src:
    local('Lato'),
    local('Lato'),
    url('Lato-Light.ttf');
}
* { 
	margin: 0px;
	padding: 2px;
    font-family: 'Lato', sans-serif;
	font-weight: bold;
} 
header, aside, section, footer {
	display: block;
}
h1 {
	font-weight: lighter;
}
p, li {
	line-height: 1.3em;
	margin: 0 0 1em 0;
}
#app {
	margin: 1em 0;
	background: transparent;
	padding: 1em 2em;
	overflow: auto;
	font-style: bold;
}
.dragdrop #app {
	background: #fff;
}
a {
	color: #666;
}
input[type="file"] {
	font-size: 1em;
}
strong {
	background: transparent;
	padding: .2em .5em;
}
footer {
	font-size: 1em;
	position:relative;
	top: 2em;
}
canvas {
    display: none;
}
#output a {
	display: inline-block;
	margin-top: 2em;
  background: #000;
  color: #fff;
  padding: 1.2em;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.2em;
}
#output ul {
  float: left;
  color: black;
  padding: 2em;
  font-weight: bold;
  font-size: 1.4em;
}